
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite Testes Mobile AdvantageDemo">
	<test name="Test">
		<classes>

			<class
				name="br.com.rsinet.mobile.appium.testes.TesteTelaPrincipal" />
			<
			<class
				name="br.com.rsinet.mobile.appium.testes.TestePesquisaPorLupaP" />

			<class name="br.com.rsinet.mobile.appium.testes.TesteCadastro" />

		</classes>
	</test>
</suite>